<div class="jumbotron center">
  <h1>A simple way to rent stuff online</h1>
  <h4>We are creating an open market place where you will able to list your stuff for rent and also rent stuff from other awesome people</h4>
  <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>

</div>