<h1>About Us</h1>
<p>The idea for Ayadu came about when we looked at the stuff lying around in our flat which we dint use on a regular basis </p>
<p>Love to hear from you guys! send email to <h3>ud@thetraces.com</h3></p>